.tariff {
  &-box{
    margin: 100px 0px 0px 0px;
    display: grid;
    gap: 32px;
  }

  &-head {
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 8px;

    &__title {
      font-family: Gilroy-Bold;
      font-size: 46px;
      line-height: 64px;
    }

    &__subtitle {
      width: 220px;
      font-family: Gilroy-Bold;
      font-size: 24px;
      line-height: 32px;
    }
  }

  &-choise {
    display: grid;
  }

  &-option {
    overflow: hidden;
    display: grid;
    margin: 0px 15px;
    text-align: center;
    justify-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;

    &__title {
      display: grid;
      width: 100%;
      align-items: center;
      padding: 7px 0px;
      margin-bottom: 40px;
      font-family: Gilroy-Bold;
      font-size: 24px;
      line-height: 48px;
      color: $blue;
      background-color: rgba(104, 94, 214, 0.05);
    }

    &__text {
      width: 260px;
      margin-bottom: 32px;
      font-family: Gilroy-Bold;
      font-size: 28px;
      line-height: 40px;
    }

    &__price {
      margin-bottom: 46px;
      font-family: Gilroy-Regular;
      font-size: 20px;
      line-height: 30px;
    }

    &__connect {
      padding: 15px 55px;
      margin-bottom: 50px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
      border-radius: 6px;
      border-width: 0px;
      color: white;
      background-color: $blue;
    }
  }

  &__select{
    grid-column: 2;
    text-align: center;
  }
}



@media (min-width:768px) {
  .tariff{
    &-box{
      margin-top: 147px;
      gap: 36px;
    }

    &-head{
      &__subtitle{
        width: 100%;
      }
    }
  }
}

@media (min-width: 1440px) {
  .tariff {
    &-box{
      margin-top: 283px;
      gap: 40px;
    }
    
    &-head{
      gap: 16px;
    }

    &__select {
      display: none;
    }
  }
}