.revievs {
  display: block;
  min-width: 0;
  margin-top: 86px;

  &__title{
    font-family: Gilroy-Bold;
    font-size: 32px;
    line-height: 40px;
  }

  &-box{
    display: grid;
  }

  &__content{
    display: grid;
    margin-top: 40px;
  }

  &-cell{
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 8px;
    border: 0;
    border-radius: 6px;
    background-color: khaki;
    
    &__title{
      margin-top: 32px;
      font-family: Gilroy-Regular;
      font-size: 18px;
      line-height: 28px;
    }

    &__text{
      margin: 0px 20px 40px 20px;
      font-family: Gilroy-Regular;
      font-size: 14px;
      line-height: 24px;
    }
  }

  &-reviewer{

    &__img{
      width: 56px;
      height: 56px;
    }
  }
}