.modal-input{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  &-show{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $white;
  }
}

.input-box{
  &__btn-close{
    position: fixed;
    top: 0;
    right: 0;
  }
}

.entrance{
  display: grid;
  grid-template-rows: 1fr;
}