@font-face{
  font-family: 'Gilroy-Bold';
  src: url('/fonts/Gilroy/Gilroy-Bold.eot');
  src: url('/fonts/Gilroy/Gilroy-Bold.eot?iefix') format('eot'),
    url('/fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
    url('/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype'),
    url('/fonts/Gilroy/Gilroy-Bold.svg#Gilroy') format('svg');
  font-style: normal;
  font-weight: bold;
}