.modal {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: 0.5s;
	justify-items: center;
	align-items: center;
	background: rgb(2, 0, 36, 0.5);

	&__btn-close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 32px;
		height: 32px;
		cursor: pointer;
	}

	&__btn-close::before,
	&__btn-close::after {
		content: "";
		right: 15px;
		position: absolute;
		height: 33px;
		width: 3px;
		background-color: blue;
	}

	&__btn-close::before {
		transform: rotate(45deg);
	}

	&__btn-close::after {
		transform: rotate(-45deg);
	}

	&-container {
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 5px;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
		background-color: white;
	}

	&-box {
		display: grid;
		align-items: center;

		&__title {
			justify-self: center;
			font-weight: 800;
			font-size: 32px;
			line-height: 32px;
			color: blue;
		}

		&__cell {
			display: grid;
			margin: 105px 70px 0px 70px;
			align-items: center;
			gap: 32px;
		}

		&__cell.entr {
			margin-bottom: 140px;
		}

		&__cell.regist {
			margin-bottom: 63px;
		}
	}

	&-content {
		display: grid;
		gap: 10px 0px;

		&__remind-pass {
			justify-self: end;
			font-size: 12px;
			line-height: 16px;
			text-decoration: none;
			color: blue;
		}
	}
}

.modal--hide {
	display: grid;
	opacity: 0;
}

.modal--show {
	display: grid;
	opacity: 1;
}

input[type="email"],
input[type="password"],
input[type="tel"] {
	background: #f7f7fd;
	padding: 8px 0px 8px 20px;
	border: 0;
	border-radius: 4px;
}

button[value="Войти"] {
	padding: 12px 145px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
	border: 0;
	border-radius: 6px;
	font-size: 18px;
	line-height: 24px;
	background-color: blue;
	color: white;
}

@media (max-width: 767px) {
	.modal {
		&-box {
			&__cell {
				margin: 52px 25px 0px 25px;
			}
		}
	}

	button[value="Войти"] {
		padding: 6px 72px;
	}
}
