.modal {
  display: none;
  position: absolute;
  justify-items: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(183, 183, 183, 0.6);

  &-box {
    display: none;
    align-items: center;
    background-color: white;

    &__btn {
      &-close {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 8px;
        width: 32px;
        height: 32px;
      }

      &-close::before,
      &-close::after {
        position: absolute;
        content: "";
        right: 15px;
        height: 33px;
        width: 3px;
        background-color: $blue;
      }
      &-close::before {
        transform: rotate(45deg);
      }
      &-close:after {
        transform: rotate(-45deg);
      }

      &-enter {
        padding: 12px 0px;
        border: 0;
        border-radius: 6px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
        background: $blue;
        color: white;
      }
    }

    &__title {
      justify-self: center;
      font-family: Gilroy-Bold;
      font-size: 32px;
      line-height: 32px;
      color: $blue;
    }
  }

  &-container {
    display: grid;
    margin: 0 auto;
    position: relative;
    gap: 32px;
  }

  &-content {
    display: grid;
    gap: 10px;

    &__remind-pass {
      justify-self: end;
      font-family: Gilroy-Regular;
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      color: $blue;
    }
  }

  &-content > input {
    padding: 16px 20px;
    border: 0;
    border-radius: 4px;
    background: #f7f7fd;
  }

  &-content > input::placeholder {
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 24px;
    color: black;
  }

  &--show {
    display: grid;
    z-index: 100;
  }

  &-entrance {
    &--show {
      display: grid;
      gap: 32px;
      padding: 45px 35px;
    }
  }

  &-register {
    &--show {
      display: grid;
      gap: 32px;
      padding: 45px 35px;
    }
  }
}

@media (min-width: 720px) {
  .modal {
    &-box {
      &__btn {
        &-close {
          margin: 26px 16px 0px 0px;
        }
      }
    }

    &-entrance {
      &--show {
        width: 340px;
        padding: 105px 70px 139px 70px;
      }
    }

    &-register {
      &--show {
        width: 340px;
        padding: 105px 70px 63px 70px;
      }
    }
  }
}