$blue: #685ed6;
$gray: #f1e4ff;
$white: #ffffff;

.off {
  overflow: hidden;
}

@media (min-width: 320px) {
  .wrapper {
    margin: 0px 22px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    margin: 0px 40px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    margin: 0px 165px;
  }
}
